
<div class="grid justify-content-center card">
    <div class="col-10 md:col-6 lg:col-4">       
            <p-card>
                <div class="grid">
                        <div class="col-12 text-center">
                                <i class="fa-solid fa-car fa-4x" style="color: #4d70ed;"></i>
                                <h2>Car Sales</h2>
                        </div>
                        <div class="col-12">
                                <label for="usuario">Usuário</label>
                                <input [(ngModel)]="requestLogin.login" class="col-12" type="text" pInputText   />
                        </div>
                        <div class="col-12">
                                <label for="senha">Senha</label>
                                <input [(ngModel)]="requestLogin.password"class="col-12" type="password" pInputText  />
                        </div>
                        <div class="col-12">
                                <button (click)="doLogin()"
                                        pButton 
                                        pRipple 
                                        label="Entrar" 
                                        class="col-12" >
                                </button>
                        </div>
                </div>
            </p-card>       
    </div>
  </div>
